/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------*/
@font-face{
    font-family: 'burnfont-1.0';
    src: local(burnfont)
         url('../font/burnfont-1.0.ttf')format("truetype"),
         url('../font/burnfont-1.0.woff')format("woff")
}
/*layout*/
.container{
    margin: 0 auto;
    max-width: 90%;
}
.container p{
    font-size: 18px;
    line-height: 1.5em;
}

.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 12px;
}
.header .logo{
    margin-left: 70px;
}
.header .logo img{
    max-width: 100px;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}
ul a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
}
.concept{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
}
.drop_down{
    display: none;
    position: relative;
    position: absolute;
    top:75px;
    right: 290px;
    border: #000 solid 1px;
    background-color: #fff;
}

.drop_down a{
    display: block;
    font-size: 20px;
    color:#000;
    text-decoration: none;
    padding: 15px 0px;
    align-items: center;
    text-align: center;
}
.concept:hover .drop_down{
    display: block;
}
.drop_down a:hover{
    
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    background-color: #000;
}
.footer{
    background-color: #BCBCBC;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
}
.footer p{
    font-size: 12px;
    color:#fff;
}
.footer a{
    margin: 0 5px;
}
.footer img{
    max-width: 30px;
}
/*-------------*/
.banner{
    margin: 0 auto;
    align-items: center;
}
.banner img{
    max-width: 100%;
    height: auto;
    
}
.bannertext{
    width: 30%;
    margin: -30% 0 40% 37%;
}
.main{
    
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    }
.chart{
        margin-left: 50px;
    }

.dialog{
    margin: -120px 150px 120px -150px;
}
.population{
    display: flex;
}

.chartimg{
    margin: -300px 0 300px 0px;
}
.populationpbackb{
    margin-top: 10px;
    margin-left: -120px;
    width:400px;
    border-left:170px solid transparent;
    border-bottom:400px solid #145A7E;
}
.populationpbackw{
    margin-top: -410px;
    margin-left: -130px;
    width:400px;
    border-left:170px solid transparent;
    border-bottom:400px solid #000;
}
.populationpback{
    margin-top: -398px;
    margin-left: -128px;
    width:396px;
    border-left:170px solid transparent;
    border-bottom:396px solid #fff;
}
.populationp p{
    width: 330px;
    height: 300px;
    line-height: 1.5em;
    margin-top: -350px;
    margin-left: 50px;
    }

.drink{
    margin: 50px 0 0 0;
}

.people{
    margin-top: 120px;
    margin-left: 5px;
    width: 350px;
    padding: 18px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: #FF7772 -5px 5px;
}

.family{
    margin-top: 208px;
    margin-left: 395px;
    width: 350px;
    padding: 18px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: #FF7772 5px 5px;
}
.drink img{
    max-width: 250px;
    height: auto;
    padding-left: 500px;
}
.habitimg{
    max-width: 80%;
    margin-top: 200px;
    margin-left: 500px;
}
.loop{
    display: flex;
    max-width: 100%;
    margin-top: 100px;
}

.looplefty{
    margin: 100px 0 0 90px;
    width:280px;
    border-right:80px solid transparent;
    border-top:254px solid #FF9D0D;
}
.loopleftb{
    margin: -260px 0 0 95px;
    width:280px;
    border-right:80px solid transparent;
    border-top:254px solid #000;
}
.loopleftw{
    margin: -252px 0 0 97px;
    width:276px;
    border-right:80px solid transparent;
    border-top:250px solid #fff;
}
.loopleft p{
    width: 260px;
    margin: -240px 0 0 120px;
}
.looprightimgy{
    margin: 0px 0 0 -20px;
    width:280px;
    border-left:80px solid transparent;
    border-bottom:254px solid #FF9D0D;
}
.looprightimgb{
    margin: -260px 0 0 -30px;
    width:280px;
    border-left:80px solid transparent;
    border-bottom:254px solid #000;
}
.looprightimgw{
    margin: -252px 0 0 -28px;
    width:276px;
    border-left:80px solid transparent;
    border-bottom:250px solid #fff;
}
.loopright img{
    margin: -225px 0 225px 65px;
    padding-top: -90px;
}
.looprighty{
    margin: -150px 0 0 -105px;
    width:368px;
    border-left:80px solid transparent;
    border-bottom:254px solid #FF9D0D;
}
.looprightb{
    margin: -260px 0 0 -115px;
    width:368px;
    border-left:80px solid transparent;
    border-bottom:254px solid #000;
}
.looprightw{
    margin: -252px 0 0 -113px;
    width:364px;
    border-left:80px solid transparent;
    border-bottom:250px solid #fff;
}
.loopsmall{
    display: none;
}
.loopright p{
    width: 300px;
    margin-top: -200px;
}
/*max-width:1024*/
@media(max-width:1024px){
    .header .logo{
        margin-left: 70px;
    }
    .header .logo img{
        max-width: 70px;
    }
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
    }
    ul a{
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
    }
    .concept{
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
        cursor: pointer;
    }
    .drop_down{
        display: none;
        position: relative;
        position: absolute;
        top:60px;
        right: 250px;
        border: #000 solid 1px;
        background-color: #fff;
    }
    
    .drop_down a{
        display: block;
        font-size: 14px;
        color:#000;
        text-decoration: none;
        padding: 15px 0px;
        align-items: center;
        text-align: center;
    }
    .concept:hover .drop_down{
        display: block;
    }
    .drop_down a:hover{
        
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        background-color: #000;
    }
    .container p{
        font-size: 12px;
    }
    .main{
        max-width: 75%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 200px;
        }
    .headersmall{
        display: none;
    }
    .populationimg{
        width:200px;
    }
    .dialog{
        margin: -120px 150px 120px -150px;
        max-width: 150px;
    }
    .population{
        display: flex;
    }
    .chartimg{
        margin: -300px 0 300px 0px;
        max-width: 250px;
        
    }
    .populationpbackb{
        margin-top: 10px;
        margin-left: -120px;
        width:250px;
        border-left:150px solid transparent;
        border-bottom:300px solid #145A7E;
    }
    .populationpbackw{
        margin-top: -310px;
        margin-left: -130px;
        width:250px;
        border-left:150px solid transparent;
        border-bottom:300px solid #000;
        
    }
    .populationpback{
        margin-top: -298px;
        margin-left: -128px;
        width:246px;
        border-left:150px solid transparent;
        border-bottom:296px solid #fff;
        
    }
    .populationp p{
        width: 220px;
        
        line-height: 1.5em;
        margin-top: -250px;
        margin-left: 20px;
    }
    .drink{
        margin: 50px 0 0 0;
        
    }
    .drink img{
        margin: 0 0 0 -150px;
        width: 200px;
    }
    
    .people{
        margin-top: 5px;
        margin-left: 5px;
        width: 250px;
        padding: 18px;
        border: 2px solid #000;
        background-color: #fff;
        box-shadow: -5px 5px #FF7772;
    }
    
    .family{
        margin-top: 100px;
        margin-left: 300px;
        width: 250px;
        padding: 18px;
        border: 2px solid #000;
        background-color: #fff;
        box-shadow: 5px 5px #FF7772;
    }
    .drink img{
        max-width: 250px;
        height: auto;
        padding-left: 500px;
    }
    .habitimg{
        max-width: 200px;
        margin-top: 100px;
        margin-left: 100px;
    }
    .loop{
        display: flex;
        max-width: 100%;
        margin-top: 100px;
    }
    
    .looplefty{
        margin: 100px 0 0 0px;
        width:250px;
        border-right:80px solid transparent;
        border-top:254px solid #FF9D0D;
    }
    .loopleftb{
        margin: -260px 0 0 8px;
        width:250px;
        border-right:80px solid transparent;
        border-top:254px solid #000;
    }
    .loopleftw{
        margin: -252px 0 0 10px;
        width:246px;
        border-right:80px solid transparent;
        border-top:250px solid #fff;
    }
    .loopleft p{
        width: 230px;
        margin: -200px 0 0 35px;
    }
    .looprightimgy{
        margin: 0px 0 0 -20px;
        width:230px;
        border-left:80px solid transparent;
        border-bottom:254px solid #FF9D0D;
    }
    .looprightimgb{
        margin: -260px 0 0 -30px;
        width:230px;
        border-left:80px solid transparent;
        border-bottom:254px solid #000;
    }
    .looprightimgw{
        margin: -252px 0 0 -28px;
        width:226px;
        border-left:80px solid transparent;
        border-bottom:250px solid #fff;
    }
    .loopright img{
        margin: -225px 0 225px 55px;
        padding-top: -90px;
        width: 200px;
    }
    .looprighty{
        margin: -130px 0 0 -105px;
        width:320px;
        border-left:80px solid transparent;
        border-bottom:254px solid #FF9D0D;
    }
    .looprightb{
        margin: -260px 0 0 -115px;
        width:320px;
        border-left:80px solid transparent;
        border-bottom:254px solid #000;
    }
    .looprightw{
        margin: -252px 0 0 -113px;
        width:316px;
        border-left:80px solid transparent;
        border-bottom:250px solid #fff;
    }
    
    .loopright p{
        width: 250px;
        margin-top: -180px;
    }


}
/*-------------------------------*/
/*max-width:768*/
@media(max-width:768px){
    /*layout*/
        .container{
            max-width: 100%;
        }
        
        .header .logo img{
            max-width: 50px;
            
        }
        .header .logo{
            margin-left: 20px;
        }
        .header ul{
            margin-right: 20px;
        }
        .drop_down{
            top:50px;
            right: 200px;
        }
        .footer{
            padding: 30px 20px;
        }
        .footer a{
            margin: 0 5px;
        }
        .footer img{
            max-width: 20px;
        }
    /*-------------------------------*/
    .people{
        margin-top: 5px;
        margin-left: 5px;
        width: 220px;
        padding: 18px;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: -5px 5px #FF7772;
    }
    
    .family{
        margin-top: 100px;
        margin-left: 300px;
        width: 220px;
        padding: 18px;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: 5px 5px #FF7772;
    }
    .loop{
        display: flex;
        max-width: 100%;
        margin-top: 300px;
    }
    
    .looplefty{
        display: none;
    }
    .loopleftb{
        display: none;
    }
    .loopleftw{
        display: none;
    }
    .loopleft p{
        margin-top: 10px;
        width: 220px;
        padding: 18px;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: -5px 5px #FF9D0D;
    }
    .looprightimgy{
        display: none;
    }
    .looprightimgb{
        display: none;
    }
    .looprightimgw{
        display: none;
    }
    .loopright img{
        padding: 18px 30px;
        width: 50%;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: 5px 5px #FF9D0D;
    }
    .looprighty{
        display: none;
    }
    .looprightb{
        display: none;
    }
    .looprightw{
        display: none;
    }
    
    .loopright p{
        margin-top: 80px;
        width: 200px;
        padding: 18px;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: 5px 5px #FF9D0D;
    }
        
    }

/*max-width:500*/
@media(max-width:500px){
    .container p{
        font-size: 12px;
    }
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    ul a{
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
    }
    .concept{
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
        cursor: pointer;
    }
    .drop_down{
        display: none;
        position: relative;
        position: absolute;
        top:50px;
        right: 190px;
        border: #000 solid 1px;
        background-color: #fff;
    }
    
    .drop_down a{
        display: block;
        font-size: 12px;
        color:#000;
        text-decoration: none;
        padding: 15px 0px;
        align-items: center;
        text-align: center;
    }
    .concept:hover .drop_down{
        display: block;
    }
    .drop_down a:hover{
        
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        background-color: #000;
    }

    .main{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        
        }
    
    .populationimg{
        display: none;
    }
    .dialog{
        margin: 480px 0 0 18%;
        width: 100px;
    }
    .population{
        display: flex;
    }
    .chartimg{
        margin: 100px 0 0 10%;
        width: 150px;
        
    }
    .populationpbackb{
        display: none;
    }
    .populationpbackw{
        display: none;
    }
    .populationpback{
        display: none;
    }
    .populationp p{
        line-height: 1.5em;
        margin-top: 50px;
        margin-left: 50%;
        border: 1px solid #000;
        padding: 18px;
        box-shadow: #145A7E 5px 5px;

    }
    .drink{
        margin: 30px 0 0 0;
        
    }
    .drink img{
        margin-left: -200px;
        width: 170px;
    }
    .drinkimg{
        width: 150px;
    }

    .people{
        margin-top: -190px;
        margin-left: 35px;
        width: 150px;
        padding: 18px;
        border: 1px solid #000;
        background-color: #fff;
    }
    .familyback{
        margin-top: 100px;
        margin-left: 280px;
        background-color: #FF7772;
        width: 150px;
        padding: 90px 18px;
    }
    .family{
        margin-top: -192px;
        margin-left: 270px;
        width: 150px;
        padding: 18px;
        border: 2px solid #000;
        background-color: #fff;
    }
    .drink img{
        max-width: 250px;
        height: auto;
        padding-left: 500px;
    }
    .habitimg{
        width: 150px;
        margin-top: 100px;
        margin-left: 300px;
    }
    .loop{
        display: flex;
        max-width: 100%;
        margin-top: 100px;
    }
    
    .looplefty{
        margin: 100px 0 0 30px;
        width:190px;
        border-right:65px solid transparent;
        border-top:204px solid #FF9D0D;
    }
    .loopleftb{
        margin: -210px 0 0 38px;
        width:190px;
        border-right:65px solid transparent;
        border-top:204px solid #000;
    }
    .loopleftw{
        margin: -202px 0 0 40px;
        width:186px;
        border-right:65px solid transparent;
        border-top:200px solid #fff;
    }
    .loopleft p{
        width: 160px;
        margin: -182px 0 0 65px;
    }
    .looprightimgy{
        margin: 20px 0 0 5px;
        width:130px;
        border-left:50px solid transparent;
        border-bottom:154px solid #FF9D0D;
    }
    .looprightimgb{
        margin: -165px 0 0 -5px;
        width:130px;
        border-left:50px solid transparent;
        border-bottom:154px solid #000;
    }
    .looprightimgw{
        margin: -152px 0 0 -3px;
        width:126px;
        border-left:50px solid transparent;
        border-bottom:150px solid #fff;
    }
    .loopright img{
        margin: -125px 0 125px 45px;
        padding-top: -90px;
        width: 120px;
    }
    .looprighty{
        margin: -50px 0 0 -55px;
        width:185px;
        border-left:50px solid transparent;
        border-bottom:154px solid #FF9D0D;
    }
    .looprightb{
        margin: -160px 0 0 -65px;
        width:185px;
        border-left:50px solid transparent;
        border-bottom:154px solid #000;
    }
    .looprightw{
        margin: -152px 0 0 -63px;
        width:181px;
        border-left:50px solid transparent;
        border-bottom:150px solid #fff;
    }
    .loopright p{
        width: 170px;
        margin-top: -140px;
        margin-left: -10px;
    }
}
