/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------*/
@font-face{
    font-family: 'burnfont-1.0';
    src: local(burnfont)
         url('../font/burnfont-1.0.ttf')format("truetype"),
         url('../font/burnfont-1.0.woff')format("woff")
}
/*layout*/
.container{
    margin: 0 auto;
    max-width: 90%;
}
.container p{
    font-size: 18px;
    line-height: 1.5em;
}
.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 12px;
}
.header .logo{
    margin-left: 70px;
}
.header .logo img{
    max-width: 100px;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}
ul a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
}
.concept{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
}
.drop_down{
    display: none;
    position: relative;
    position: absolute;
    top:75px;
    right: 290px;
    border: #000 solid 1px;
    background-color: #fff;
}

.drop_down a{
    display: block;
    font-size: 20px;
    color:#000;
    text-decoration: none;
    padding: 15px 0px;
    align-items: center;
    text-align: center;
}
.concept:hover .drop_down{
    display: block;
}
.drop_down a:hover{
    
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    background-color: #000;
}
.footer{
    background-color: #BCBCBC;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 100px;
    margin-bottom: -200px;
}
.footer p{
    font-size: 12px;
    color:#fff;
}
.footer a{
    margin: 0 5px;
}
.footer img{
    max-width: 30px;
}
.banner{
    margin: 0 auto;
    align-items: center;}
.banner img{
    max-width: 100%;
    height: auto;
}
.bannertext{
    width: 30%;
    margin: -30% 0 40% 37%;
}
/*-------------*/
.content{
    max-width: 900px;
    margin: 0 auto;
    
}
.main{
    margin-top: 100px;
}
.frame{
    display: flex;
}
.frameleft{
    margin-left: 80px;
    margin-right: -80px;
}
.frameright{
    margin-top: -180px;
}
.mainimg{
    max-width: 650px;
    margin: -1073px 0 1073px 80px;
}
.diseasename{
    writing-mode: vertical-rl;
    margin : -1200px -500px 1200px 500px;
    padding: 50px 20px;
    border: 2px solid #000;
}
.diseasename p{
    font-size: 36px;
    font-weight:500;
}
.lineup{
    margin-top: 35px;
    margin-right: -8px;
}
.name{
    max-width: 170px;
    margin: -800px 0 800px 150px;
}
.description{
    margin-top: -950px;
    margin-left: 80px;
    margin-bottom: 950px;
    
}
.one{
    display: flex;
    margin-left: 20px;
}
.desleftone{
    width: 250px;
    padding: 18px;
    margin-right: 50px;
}
.desleftone h2{
    font-size: 18px;
    font-weight: bold;
}
.desrightoneb{
    width: 252px;
    height: 127px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: -2px;
}
.two{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}
.desrighttwo{
    width: 250px;
    padding: 18px;
    margin-left: 75px;
}
.desrighttwo h2{
    font-size: 18px;
    font-weight: bold;
}
.deslefttwob{
    width: 252px;
    height: 127px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: -2px;
}
.three{
    margin-top: 50px;
    margin-bottom: 100px;
}
.three img{
    margin-left: 320px;
}
.threeb{
    width: 275px;
    height: 128px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: 318px;
}
.page{
    margin-top: -700px;
    
}
.arrowlast a{
    color: #000;
    
    display: flex;
}
.arrowlast a p{
    color: #BCBCBC;
    font-size: 16px;
    margin: 0 5px;
    
}
.last{
    margin: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #BCBCBC transparent transparent;

}
.arrownext a{
    color: #000;
    
    display: flex;
}
.arrownext a:hover{
    color: #BCBCBC;
}
.next:hover{
    margin: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent #BCBCBC transparent transparent;
}
.arrownext a p{
    
    font-size: 16px;
    margin: 0 5px;
    
}
.next{
    margin: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #000;
}
.numberclick a{
    color: #fff;
    font-size: 16px;
    margin: 3px;
    padding: 5px 7px;
    background-color: black;
    border-radius: 5px;
}
.number a{
    color: #000;
    font-size: 16px;
    margin: 3px;
    padding: 5px 7px;
}
.number a:hover{
    color: #fff;
    background-color: black;
    border-radius: 5px;
}
/*--------------------*/
/*max-width:1024*/
@media(max-width:1024px){
    .container p{
        font-size: 16px;
        line-height: 1.5em;
    }
    .content{
        max-width: 700px;
        margin: 0 auto;
    }
    .main{
        margin-top: 150px;
    }
    .frame img{
        max-width: 300px;
    }
    .frameleft{
        margin-left: 90px;
        margin-right: -80px;
    }
    .frameright{
        margin-top: -150px;
        margin-left: -20px;
    }
    .name{
        max-width: 120px;
        margin: -700px 0 700px 150px;
    }
    .mainimg{
        max-width: 580px;
        margin: -884px 0 884px 80px;
    }
    .diseasename{
        writing-mode: vertical-rl;
        margin : -1000px -450px 1000px 450px;
        padding: 50px 20px;
        border: 2px solid #000;
    }
    .diseasename p{
        font-size: 26px;
        font-weight:500;
    }
    .one{
        display: flex;
        margin-left: 20px;
    }
    .desleftone{
        width: 200px;
        padding: 18px;
        margin-right: 50px;
    }
    .desleftone h2{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .desrightone img{
        max-width: 200px;
    }
    .desrightoneb{
        width: 200px;
        height: 101px;
        border: 2px solid #000;
        margin-top: -105px;
        margin-left: -2px;
    }
    .two{
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
    }
    .desrighttwo{
        width: 200px;
        padding: 18px;
        margin-left: 75px;
    }
    .desrighttwo h2{
        font-size: 18px;
        font-weight: bold;
    }
    .deslefttwo img{
        max-width: 200px;
    }
    .deslefttwob{
        width: 200px;
        height: 101px;
        border: 2px solid #000;
        margin-top: -105px;
        margin-left: -2px;
    }
    .three{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .three img{
        margin-left: 240px;
    }
    .threeb{
        width: 200px;
        height: 127px;
        border: 2px solid #000;
        margin-top: -132px;
        margin-left: 312px;
    }

}
/*--------------------*/
/*max-width:640*/
@media(max-width:640px){
    .content{
        max-width: 600px;
        margin: 0 auto;
    }
    .main{
        margin-top: 150px;
    }
    .frame img{
        max-width: 250px;
    }
    .frameleft{
        margin-left: 100px;
        margin-right: -80px;
    }
    .frameright{
        margin-top: -150px;
        margin-left: -20px;
    }
    .name{
        max-width: 100px;
        margin: -550px 0 550px 155px;
    }
    .mainimg{
        max-width: 420px;
        margin: -670px 0 670px 80px;
    }
    .diseasename{
        writing-mode: vertical-rl;
        margin : -800px -380px 800px 380px;
        padding: 30px 15px;
        border: 2px solid #000;
    }
    .diseasename p{
        font-size: 24px;
        font-weight:500;
    }
    .description{
        margin-top: -650px;
        margin-left: 80px;
        margin-bottom: 650px;
    }
    .one{
        display: flex;
        margin-left: 0px;
    }
    .desleftone{
        width: 180px;
        padding: 18px;
        margin-right: 50px;
    }
    .desleftone h2{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .desrightone img{
        margin-top: 15px;
        max-width: 180px;
    }
    .desrightoneb{
        width: 180px;
        height: 90px;
        border: 2px solid #000;
        margin-top: -95px;
        margin-left: -2px;
    }
    .two{
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
    }
    
    .desrighttwo{
        width: 180px;
        padding: 18px;
        margin-left: 50px;
    }
    .desrighttwo h2{
        font-size: 18px;
        font-weight: bold;
    }
    .deslefttwo{
        margin-top: 15px;
    }
    .deslefttwo img{
        max-width: 180px;
    }
    .deslefttwob{
        width: 180px;
        height: 90px;
        border: 2px solid #000;
        margin-top: -95px;
        margin-left: -2px;
    }
    .three{
        margin-top: 50px;
       
    }
    .three img{
        margin-left: 245px;
        margin-top: 20px;
        width: 200px;
    }
    .threeb{
        width: 180px;
        height: 93px;
        border: 2px solid #000;
        margin-top: -97px;
        margin-left: 262px;
    }
    .page{
        margin-top: -500px;
        margin-left: 20px;
        margin-right: -20px;
        
    }
    .footer img{
        max-width: 20px;
    }
    .header{
        background-color: #000;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 12px;
    }
    .header .logo{
        margin-left: 40px;
    }
    .header .logo img{
        max-width: 70px;
    }
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
    ul a{
        font-size: 16px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
    }
    .concept{
        font-size: 16px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
        cursor: pointer;
    }
    .drop_down{
        display: none;
        position: absolute;
        top:60px;
        right: 290px;
        border: #000 solid 1px;
        background-color: #fff;
    }
    .drop_down a{
        display: block;
        font-size: 16px;
        color:#000;
        text-decoration: none;
        padding: 15px 0px;
        align-items: center;
        text-align: center;
    }
    .concept:hover .drop_down{
        display: block;
    }
    .drop_down a:hover{
        
        font-size: 20px;
        color:#fff;
        text-decoration: none;
        background-color: #000;
    }

}
