/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------*/
@font-face{
    font-family: 'burnfont-1.0';
    src: local(burnfont)
         url('../font/burnfont-1.0.ttf')format("truetype"),
         url('../font/burnfont-1.0.woff')format("woff")
}
/*layout*/
.container{
    margin: 0 auto;
    max-width: 90%;
}
.container p{
    font-size: 18px;
    line-height: 1.5em;
}
.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 12px;
}
.header .logo{
    margin-left: 70px;
}
.header .logo img{
    max-width: 100px;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}
ul a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
}
.concept{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
}
.drop_down{
    display: none;
    position: relative;
    position: absolute;
    top:75px;
    right: 290px;
    border: #000 solid 1px;
    background-color: #fff;
}

.drop_down a{
    display: block;
    font-size: 20px;
    color:#000;
    text-decoration: none;
    padding: 15px 0px;
    align-items: center;
    text-align: center;
}
.concept:hover .drop_down{
    display: block;
}
.drop_down a:hover{
    
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    background-color: #000;
}
.footer{
    background-color: #BCBCBC;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 100px;
    margin-bottom: -200px;
}
.footer p{
    font-size: 12px;
    color:#fff;
}
.footer a{
    margin: 0 5px;
}
.footer img{
    max-width: 30px;
}
.banner{
    margin: 0 auto;
    align-items: center;}
.banner img{
    max-width: 100%;
    height: auto;
}
.bannertext{
    width: 30%;
    margin: -30% 0 40% 37%;
}
/*-------------*/
.content{
    max-width: 700px;
    margin: 0 auto;
    
}
.frameup{
    margin-left: 0px;
}
.frameup img{
    width: 650px;
}
.framedown{
    margin: -100px 0 0 0px;
}
.framedown img{
    width: 650px;
}
.name{
    width: 180px;
    margin: -1000px 0 1000px 0;
}
.mainimg{
    max-width: 600px;
    margin: -1090px 0 1090px 0;
}
.disname{
    margin: -1250px 0 1250px 480px;
}
.description{
    margin-top: -950px;
    margin-left: 80px;
    margin-bottom: 950px;
    
}
.one{
    display: flex;
    margin: 0 80px 0 -80px;
}
.desleftone{
    width: 250px;
    padding: 18px;
    margin-right: 50px;
}
.desleftone h2{
    font-size: 18px;
    font-weight: bold;
}
.desrightoneb{
    width: 252px;
    height: 126px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: -2px;
}
.two{
    display: flex;
    margin: 50px 80px 0 -80px;
}
.desrighttwo{
    width: 250px;
    padding: 18px;
    margin-left: 75px;
}

.desrighttwo h2{
    font-size: 18px;
    font-weight: bold;
}
.deslefttwo img{
    margin: 5px 20px 0 -20px;
}
.deslefttwob{
    width: 252px;
    height: 126px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: -2px;
}
.three{
    margin: 50px 80px 100px -80px;
}
.three img{
    margin-left: 320px;
}
.threeb{
    width: 270px;
    height: 125px;
    border: 2px solid #000;
    margin-top: -131px;
    margin-left: 318px;
}
.page{
    margin-top: -700px;
    
}
.arrowlast a{
    color: #000;
}
.arrowlast a:hover{
    color: #BCBCBC;
}
.last{
    margin: 3px 13px 3px 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #000 transparent transparent;

}
.last:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent transparent transparent #BCBCBC;
}
.arrownext a{
    color: #000;
}
.arrownext a:hover{
    color: #BCBCBC;
}
.next:hover{
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #BCBCBC;
}

.next{
    margin: 3px 13px 3px 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #000;
}
.numberclick a{
    color: #fff;
    font-size: 16px;
    margin: 3px;
    padding: 5px 7px;
    background-color: black;
    border-radius: 5px;
}
.number a{
    color: #000;
    font-size: 16px;
    margin: 3px;
    padding: 5px 7px;
}
.number a:hover{
    color: #fff;
    background-color: black;
    border-radius: 5px;
}

/*max-width:1024*/
@media(max-width:1024px){
    .container p{
        font-size: 12px;
    }
    .header .logo{
        margin-left: 70px;
    }
    .header .logo img{
        max-width: 70px;
    }
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
    }
    ul a{
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
    }
    .concept{
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        margin: 0 20px;
        cursor: pointer;
    }
    .drop_down{
        display: none;
        position: relative;
        position: absolute;
        top:60px;
        right: 250px;
        border: #000 solid 1px;
        background-color: #fff;
    }
    
    .drop_down a{
        display: block;
        font-size: 14px;
        color:#000;
        text-decoration: none;
        padding: 15px 0px;
        align-items: center;
        text-align: center;
    }
    .concept:hover .drop_down{
        display: block;
    }
    .drop_down a:hover{
        
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        background-color: #000;
    }
    .content{
        margin-top: 80px;
        margin-left: 150px;
    }
    .main{
        
        margin-bottom: 400px;
    }
    .frame img{
        width: 500px;
    }
    .mainimg{
        width: 500px;
        margin: -548px 155px 548px -155px;
    }
    .name{
        width: 150px;
        margin: -1000px 20px 1000px -20px;
    }
    .disname{
        width: 120px;
        margin: -650px 0 650px 400px;
    }
    .desleftone{
        width: 200px;
        padding: 18px;
        margin-right: 50px;
    }
    .desleftone h2{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .desrightone img{
        max-width: 200px;
        margin-top: 20px;
    }
    .desrightoneb{
        width: 200px;
        height: 94px;
        border: 2px solid #000;
        margin-top: -98px;
        margin-left: -2px;
    }
    .desrighttwo{
        width: 200px;
        padding: 18px;
        margin-left: 75px;
    }
    .desrighttwo h2{
        font-size: 18px;
        font-weight: bold;
    }
    .deslefttwo img{
        max-width: 200px;
        margin-left: 6px;
    }
    .deslefttwob{
        width: 200px;
        height: 93px;
        border: 2px solid #000;
        margin-top: -98px;
        margin-left: 4px;
    }
    .three img{
        margin-left: 286px;
        max-width: 204px;
    }
    .threeb{
        width: 200px;
        height: 93px;
        border: 2px solid #000;
        margin-top: -98px;
        margin-left: 285px;
    }
    .footer{
        padding: 30px 20px;
    }
}
/*-------------------------------*/
/*max-width:909*/
@media(max-width:909px){
    .frame img{
        width: 500px;
    }
    .mainimg{
        width: 500px;
        margin: -910px 0px 910px 0px;
    }
    .name{
        width: 150px;
        margin: -800px 20px 800px -20px;
    }
    .disname{
        width: 120px;
        margin: -1050px 0 1050px 400px;
    }
    .description{
        margin-top: -1150px;
        margin-left: 80px;
        margin-bottom: 1150px;
        
    }
    
}
/*-------------------------------*/
/*max-width:768*/
@media(max-width:768px){
    /*layout*/
        .container{
            max-width: 100%;
            margin: 0 auto;
        }
        .container p{
            font-size: 12px;
        }
        .header{
            padding: 10px 0;
            
        }
        .header .logo{
            margin-left: 20px;
        }
        .header .logo img{
            max-width: 70px;
            
        }
        ul{
            
            margin-right: 20px;
        }
        ul a{
            font-size: 12px;
        }
        .concept{
            font-size: 12px;
        }
        .drop_down{
            top:49px;
            right: 185px;
        }
        .drop_down a{
            font-size: 12px;
            padding: 10px 0px;
        }
        .drop_down a:hover{
            font-size: 12px;
            padding: 10px 0px;
        }
        .footer{
            padding: 30px 20px;
        }
        .footer a{
            margin: 0 5px;
        }
        .footer img{
            max-width: 20px;
        }
    /*-------------------------------*/
        .content{
            max-width: 100%;
            
        }
        .main{
            margin-top: 100px;
            position: relative;
        }
        .frame img{
            max-width: 400px;
        }
        .framedown img{
            margin-top: 10%;
        }
        .mainimg{
            max-width: 400px;
            position: absolute;
            top: 1054px;
        }
        .name{
            width: 100px;
            position: absolute;
            top: 700px;
        }
        .disname{
            max-width: 100px;
            position: absolute;
            top: 1500px;
            left: -50px;
            
        }
        .description{
            margin-top: 100px;
        }
        .desleftone{
            width: 200px;
            padding: 18px;
            margin-right: 40px;
        }
        .desleftone h2{
            font-size: 14px;
            font-weight: bold;
        }
        .desrightoneb{
            width: 190px;
            height: 93px;
            border: 2px solid #000;
            margin-top: px;
            margin-left: -2px;
        }
        .desrightone img{
            width: 200px;
            margin-top: -1px;
        }
        .desrighttwo{
            width: 220px;
            padding: 18px;
            margin-left: 40px;
        }
        .desrighttwo h2{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .deslefttwo img{
            margin: 5px 10px 0 -10px;
            width: 230px;
        }
        .deslefttwob{
            width: 190px;
            height: 93px;
            border: 2px solid #000;
            margin-top: px;
            margin-left: -2px;
        }
        .three{
            margin: 50px 180px 100px 0px;
        }
        .three img{
            width: 200px;
            margin-left: 55%;
        }
        .threeb{
            width: 198px;
            height: 91px;
            border: 2px solid #000;
            margin-top: px;
            margin-left: 55%;
        }
    }
@media(max-width:500px){
    .container p{
        font-size: 10px;
    }
    .header{
        background-color: #000;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 12px;
    }
    .header .logo{
        margin-left: 20px;
    }
    .header .logo img{
        max-width: 50px;
    }
    ul{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    ul a{
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        margin: 0 10px;
    }
    .concept{
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        margin: 0 10px;
        cursor: pointer;
    }
    .drop_down{
        display: none;
        position: relative;
        position: absolute;
        top:48px;
        right: 145px;
        border: #000 solid 1px;
        background-color: #fff;
    }
    
    .drop_down a{
        display: block;
        font-size: 12px;
        color:#000;
        text-decoration: none;
        padding: 15px 0px;
        align-items: center;
        text-align: center;
    }
    .concept:hover .drop_down{
        display: block;
    }
    .drop_down a:hover{
        
        font-size: 12px;
        color:#fff;
        text-decoration: none;
        background-color: #000;
    }
/*------------*/
    .frameup{
        margin-left: 0px;
    }
    .frameup img{
        max-width: 250px;
    }
    .framedown{
        margin: -70px 0 0 0px;
    }
    .framedown img{
        max-width: 250px;
    }
    .name{
        max-width: 20%;
        position: absolute;
    }
    .main{
        position: relative;
    }
    .mainimg{
        max-width: 250px;
        position: absolute;
        top: 990px;
    }
    .disname{
        max-width: 20%;
        position: absolute;
        left: -200px;
        top: 1350px;
        
    }
    .description{
        margin-top: -100px;
        
    }
    .one{
        display: flex;
        margin: 0 80px 0 -80px;
    }
    .desleftone{
        width: 100px;
        padding: 18px;
        margin-right: 10px;
    }
    .desleftone h2{
        font-size: 14px;
        font-weight: bold;
    }
    .desrightoneb{
        width: 100px;
        height: 50px;
        border: 1px solid #000;
        margin-top: -50px;
        margin-left: -2px;
    }
    .desrightone img{
        width: 100px;
        margin-top: 20px;
    }
    .two{
        display: flex;
        margin: 50px 80px 0 -80px;
    }
    .desrighttwo{
        width: 100px;
        padding: 18px;
        margin-left: 10px;
    }
    
    .desrighttwo h2{
        font-size: 14px;
        font-weight: bold;
    }
    .deslefttwo img{
        margin: 5px 20px 0 -20px;
        width: 100px;
    }
    .deslefttwob{
        width: 100px;
        height: 50px;
        border: 1px solid #000;
        margin-top: -50px;
        margin-left: -2px;
    }
    .three{
        margin: 50px 80px 100px -80px;
    }
    .three img{
        margin-left: 0px;
        width: 100px;
    }
    .threeb{
        width: 100px;
        height: 50px;
        border: 1px solid #000;
        margin-top: -50px;
        margin-left: 0px;
    }
}
@media(max-width:360px){
    .frameup{
        margin-left: 0px;
    }
    .frameup img{
        max-width: 250px;
        margin-left: -100px;
    }
    .framedown{
        margin: -70px 0 0 0px;
    }
    .framedown img{
        max-width: 250px;
        margin-left: -100px;
    }
    .name{
        max-width: 80px;
        position: absolute;
        top: 650px;
        left: -100px;
    }
    .main{
        position: relative;
    }
    .mainimg{
        max-width: 250px;
        position: absolute;
        top: 978px;
        left:-100px;
    }
    .disname{
        max-width: 80px;
        position: absolute;
        left: -300px;
        top: 1350px;
        
    }
    .description{
        margin-top: -100px;
        margin-left: -150px;
        
    }
    .one{
        display: flex;
        margin: 0;
    }
    .desleftone{
        width: 150px;
        padding: 18px;
        margin-right: 20px;
    }
    .desleftone h2{
        font-size: 14px;
        font-weight: bold;
    }
    .desrightoneb{
        display: none;
    }
    .desrightone img{
        width: 100px;
        margin-top: 20px;
        border: 1px solid #000;
    }
    .two{
        display: flex;
        margin: 50px 0 0 15px;
    }
    .desrighttwo{
        width: 150px;
        padding: 18px;
        margin-left: 20px;
    }
    
    .desrighttwo h2{
        font-size: 14px;
        font-weight: bold;
    }
    .deslefttwo img{
        margin: 10px 0;
        width: 100px;
        border: 1px solid #000;
    }
    .deslefttwob{
        display: none;
    }
    .three{
        margin: 50px 0 100px 0;
    }
    .three img{
        margin-left: 200px;
        width: 100px;
        border: 1px solid #000;
    }
    .threeb{
        display: none;
    }
    .page{
        margin-top: -1000px;
        margin-bottom: 1000px;
        padding-top: -1000px;
        padding-bottom: -1000px;
    }
}